.warp {
  position: absolute;
  top: 0;
  bottom: 44px;
  overflow: hidden;
  //overflow-y: auto;
  width: 100%;
  //background-color: red;
  z-index: 1;
  background-color: #ccc;
}
.footer {
  position: fixed;
  height: 44px;
  width: 100%;
  bottom: 0;
  z-index: 3;
}
.cont {
  position: absolute;
  width: 100%;
  top: 0;
  //background-color: black;
  //touch-action: none;
  z-index: 2;
  background-color: #ccc;
}
