<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>强通速递</title>
  <!--<link rel="icon" href="/img/favicon.png" type="image/x-icon">-->
  <link rel="apple-touch-icon-precomposed" href="/cdm.png"/>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=b807bced59e4c8d89a323ae23159e562"></script>
</head>
<body>
  <div id="root"></div>
  <!--<script src="/sockjs.min.js" ></script>-->
  <!--<script src="/stomp.min.js" ></script>-->
  <script>
    Object.AMap = AMap
    // Object.SockJs = SockJS
    // Object.Stomp = Stomp
    // document.addEventListener('touchmove', function (e) {
    //   e.preventDefault();
    // })
  </script>
  <script>
  </script>
  <script src="https://gw.alipayobjects.com/as/g/??datavis/g2/2.3.12/index.js,datavis/g-cloud/1.0.2/index.js,datavis/g2-plugin-slider/1.2.1/slider.js"></script>
</body>
</html>
